<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Academy</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Container for aside and main -->
<div class="container">
    <!-- Aside Section (Navigation Bar) -->
    <aside>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Сервисы</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
    <main>
        <h1>Добро пожаловать на платформу подбора специалистов</h1>
        <p>Для получения полного доступа к услугам необходима авторизация, ниже ссылка на форму входа</p>
        <p th:text="${message}">Let's get started</p>
        <a th:href="@{/login}">Login Page</a>
    </main>
</div>

<!-- Footer -->
<footer>
    <p>&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> Платформа подбора специалистов. Все права защищены.</p>
</footer>
</body>
</html>